/*.reveal .slides { position: absolute; }*/

body {
  background: none;
}
.reveal section img.left {
  /*align: left;*/
  display: block;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  letter-spacing: -0.05em;
  text-transform: none;
  text-align: left;
}
.reveal h1 {
  font-size: 1.70em; 
  text-transform: none;
  font-weight: bold;
}

.reveal h2 {
  font-size: 1.00em; 
}

.reveal h3 {
  font-size: 1.55em; 
}

.reveal h4 {
  font-size: 1em; 
}

.reveal section.title-slide h1 {
  font-size: 2.77em; 
  font-weight: bold;
}

.reveal section.title-slide h2 {
  font-size: 1.00em; 
  text-transform: none;
  color: #c62a71;
}

.reveal section.title-slide h3 {
  font-size: .75em; 
  text-transform: none;
}

.reveal section.presenter-slide h1 {
  font-size: 1.77em; 
  text-transform: none;
  font-weight: bold;
}

.reveal section.presenter-slide h2 {
  font-size: .75em; 
  text-transform: none;
  color: #c62a71;
}

.reveal section.presenter-slide h3 {
  font-size: .75em; 
  text-transform: none;
}

.reveal h1 em {
  color: #c62a71;
  font-style: normal;
}
